<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta name="description" content="">
    <title>HUNTER GARMENTS</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/icon" href="images/favicon.jpeg"/>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style type="text/css">
    .landing{
		margin-top: 15%;
	}
	@media(max-width : 768px){
		.landing{
			margin-top: 15%;
			margin-left: 0 !important;
		}
	}
	@media(max-width: 768px){
		.app-content{
			margin-left: 6% !important;
		}
	}
    </style>
  </head>
  <body class="app sidebar-mini rtl" style="background-image:url(images/landing-bg.jpg) !important; background-size: auto;background-repeat: repeat;">
    <main class="app-content landing">
      <div class="col-lg-5 col-md-5 col-xs-12 col-sm-6 col-lg-offset-2 col-sm-offset-2 col-xs-offset-0">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
          <a href="https://hunter-software.com/home"><img src="images/landing-img1.jpeg" class="img-circle">
          <h4 style="color: #fff;">HUNTER TEXTILE</h4></a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
          <a href="https://trading.hunter-software.com/home"><img src="images/landing-img2.jpeg" class="img-circle">
          <h4 style="color: #fff;">HUNTER TRADING</h4></a>
        </div>
      </div>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </body>
</html>
